html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #212121;
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#game {
  display: none;
}
